*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: 'Inter', sans-serif;
}

/*RESET*/


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    flex-grow: 1;
    display: flex;
}

footer{
    min-height:90px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    gap:20px
}

/******** MAIN ********/

/*sidebar*/
.sidebar{
    min-width: 230px;
    background-color: black; 
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo{
    height: 70px;
}
.logo img{
    width: 130px;
}

.widjet__element{
    color: #656565;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}

.widjet__element i{font-size:26px;}
.active{color:white;}


/*music-wrapper*/
.music-wrapper{
    flex-grow: 1;
    background-color: #141922;
}

/******** FOOTER ********/

/*CURRENT SONG*/
.current-song{
    display: flex;
    align-items: center;
    gap: 20px;
}

.now-playing-widget{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.song__name{color: #FEFEFE;}
.song__artist{color: #858585; font-size:13px;}

.song-button{
    color:#858585;
    font-size: 18px; 
    
}
.song-button i{margin:0 7px; cursor: pointer;}

/*PLAYER CONTROL*/
.player-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    
}

.player__inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px
}
.music-timeline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    color: white;
    font-weight: 600;
    min-width: calc(40% + 125px);
}    

.barra{
    flex-grow: 1;
    height: 4px;
    background-color: rgb(193, 193, 193,0.3);
}

.current-time{
    background-color: #C1C1C1;
    width: 30%;
    height: 4px;  
    position: relative; 
    border-radius: 3px;
}

.ball{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top:0;
    right: 0;
    transform: translate(50%,-25%);
    z-index: 1;
    visibility: hidden;
}

.barra:hover .current-time{background-color: rgb(10, 241, 10);}
.barra:hover .ball{visibility: visible;}

.player__inputs i{
    color: white;
    font-size:20px;
    cursor: pointer;
}
.far.fa-play-circle{
    font-size: 33px;
    margin:0 10px;
}

/*EXTRA-CONTROL*/
.extra-control{
    display: flex;
    align-items: center;
    gap:20px;
    margin-right: 10px;
}
.extra-control .barra{
    width: 100px;
}

.extra-control i{
    color: white;
    cursor:pointer;
}

