*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: 'Inter', sans-serif;
}

/*RESET*/


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

footer{
    min-height:90px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    gap:20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

/******** MAIN ********/

/*sidebar*/
.sidebar{
    min-width: 230px;
    
    background-color: black; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 90px;
}

.logo{
    height: 70px;
}
.logo__big-screen{
    width: 130px;
}
.logo__small-screen{
    display: none;
    
}

.widjet__element{
    color: #656565;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    cursor: pointer;
}

.widjet__element:hover{
    color:white
}

.widjet__element i{font-size:26px;}
.active{color:white;}

.playlist h3{
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

.fas.fa-plus-square{
    font-size: 40px;
}

.square{
    width: 32px;
    height: 32px;
    background-color: #858585;
    border-radius: 50%;
    text-align: center;
}
.far.fa-user{
    color: white;
    z-index: 1;
    
}

.download{
    width: 18px;
}
.widjet.bottom .widjet__element:first-child{
    border-bottom: 1px solid #656565;
    margin-bottom: 15px;
}


/*main-content*/
.main-content{
    flex-grow: 1;
    background-color: #141922;
    overflow: auto;
    padding-bottom: 120px;
}

.upgrade-banner{
    min-height:90px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.button-upgrade{
    background-color: inherit;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    text-transform: uppercase;
    margin-right: 5px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: bold;
}

.button-upgrade:hover{
    color: chartreuse;
}

.main-content__menu ul{display: contents;}
.main-content__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.main-content__menu li{
    color: #858585;
    text-transform: uppercase;
    list-style: none;
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;
}

.tiny-border::after{
    content: '';
    height: 2px;
    background-color: chartreuse;
    width: 20px;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%,0);
}

.main-content__menu li:hover{
    color: white;
}



.album-section{margin-left: 20px;}
.album-section__title{color: white; font-size: 24px; padding-top: 40px; padding-bottom: 10px;}
.album-wrapper{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.album img{width: 160px; font-size: 0;}
.album__title{color: white; text-align: center; padding-top: 13px;}
.album__artist{color: #7D7F84; text-align: center; padding-top: 7px;}
.album-section__info{color: #7D7F84; padding-bottom: 25px;}
.album-section__title:first-child{padding-bottom: 30px;}
.bordi-tondi{
    border-radius:50%;
}


/******** FOOTER ********/

/*CURRENT SONG*/
.current-song{
    display: flex;
    align-items: center;
    gap: 20px;
}

.now-playing-widget{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.song__name{color: #FEFEFE;}
.song__artist{color: #858585; font-size:13px;}

.song-button{
    color:#858585;
    font-size: 18px; 
    
}
.song-button i{margin:0 7px; cursor: pointer;}

/*PLAYER CONTROL*/
.player-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    
}

.player__inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px
}
.music-timeline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    color: white;
    font-weight: 600;
    min-width: calc(40% + 125px);
}    

.barra{
    flex-grow: 1;
    height: 4px;
    background-color: rgb(193, 193, 193,0.3);
}

.current-time{
    background-color: #C1C1C1;
    width: 30%;
    height: 4px;  
    position: relative; 
    border-radius: 3px;
}

.ball{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top:0;
    right: 0;
    transform: translate(50%,-25%);
    z-index: 1;
    visibility: hidden;
}

.barra:hover .current-time{background-color: rgb(10, 241, 10);}
.barra:hover .ball{visibility: visible;}

.player__inputs i{
    color: white;
    font-size:20px;
    cursor: pointer;
}
.far.fa-play-circle{
    font-size: 33px;
}

/*EXTRA-CONTROL*/
.extra-control{
    display: flex;
    align-items: center;
    gap:20px;
    margin-right: 10px;
}

.extra-control .barra{
    min-width: 100px;
}

.extra-control i{
    color: white;
    cursor:pointer;
}

@media screen and (max-width:560px) {
    .widjet.playlist, .widjet__element span, .logo__big-screen ,.fas.fa-info-circle{
        display: none;
    }
    .sidebar{
        min-width: 60px;
        align-items: center;
    }
    .logo__small-screen{
        display: block;
        width: 30px;
        padding-bottom: 15px;
    }
    .logo{
        height: auto;
    }
    
    .widjet__element:first-child{
        border-bottom:none !important;
        margin-bottom: none !important;
        padding-bottom: none !important;
    }
    
    
}
